.faqsection {
    margin: 20px 0;
}

.faqsection .sec-title {
    margin: 0 50px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-ques-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding-bottom: 0;
}

.faq {
    width: 650px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    cursor: pointer;
    border: dashed white 2px;
    border-radius: 10px;
    min-height: 150px;
    margin: 20px;
    background: linear-gradient(135deg, rgba(0, 242, 96, 0.10) 0.01%, rgba(5, 117, 230, 0.50) 100%);
}

.question {
    padding: 20px;
}

.question svg {
    width: 25px;
    transform: rotate(180deg);
}

.question h3 {
    color: white;
    font-size: 20px;
}

.answer p {
    padding: 25px;
    border-radius: 15px;
    margin: 15px 0;
    color: white;
    font-size: 15px;
    letter-spacing: 0em;
}

.faq.a .answer {
    max-height: 300px;
}

.faq.a svg {
    transform: rotate(0);
}