.testimonialsection {
    color: white;
}

.testimonialsection .testimonial-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.testimonial-cover .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    margin: 20px;
    background-color: #ffffff26;
    min-height: 300px;
    border-radius: 10px;
}

.card p {
    padding: 20px;
}

.card h1 {
    padding: 20px;
    width: 90%;
    background: linear-gradient(135deg, rgba(0, 242, 96, 0.03) 0.01%, rgba(5, 117, 230, 0.13) 100%);
}